body {
    background-color: #298678;
    text-align: center;
    margin: 0;
}

#title {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
    left: 11%;
    /* transform: translateX(-50%); */
    top: 13%;
}

#contact {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    left: 50%;
    transform: translateX(-50%);
    top:92%;
}

#logo {
    position: fixed;
    top: 8px;
    left: 9px;
    width: 18%;
    /* transform: translate(-160%,50%); */
    opacity: 0.9;
}

#logo-white {
    position: fixed;
    top: 3%;
    left: 98%;
    transform: translateX(-100%);
    width: 12%;
    opacity: 0.9;
}

a {
    color: #ededed;
}
a.hover {
    color: #aaaaaa;
}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* @media screen and (min-width: 1001px) {
    .title {
        top: 30%;
        font-size: 2vw;
    }
}
@media screen and (max-width: 1000px) {
    .title {
        top: 15%;
        font-size: 3vw;
    }
} */
.title {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 90%;
    height: 10%;
    font-family: Helvetica, Arial, sans-serif;
    color: #ededed;
    margin: 0px;
}

.cvs {
    border: 1px solid #ededed;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.start-button {
    width: 200px;
    height: 50px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;

    padding: auto;

    font-size: larger;
    text-align: center;
    z-index: 10;
    color: #ededed;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/* @media screen and (min-width: 884px) {
    .start-button {
        font-size: larger;
    }
    .start-button p {
        margin-top: 1.2vh;
        margin-bottom: 1.2vh;
    }
}
@media screen and (max-width: 883px) {
    .start-button {
        font-size: 17px;
    }
    .start-button p {
        margin-top: 1.3vh;
        margin-bottom: 1.2vh;
    }
} */
#in-text {
    position: fixed;
    width: 20%;
    height: 10%;
    font-size: 3rem;
    color: #ededed;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0%);
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-color: #ededed;
}

.hidden {
    display: none;
}

#left-panel {
    position: fixed;
    top: 6px;
    left: 6px;
    padding-left: 5px;
    width: 19.9%;
    height: 97.7%;
    z-index: 0;
    background-color: white;
    overflow: hidden;
}

#left-panel-scroll {
    position: fixed;
    top: 25%;
    /* left: 11px; */
    width: 19.2%;
    height: 73.2%;
    z-index: 10;
    overflow: scroll;
}

#home-btn {
    position: absolute;
    top: 18%;
    /* z-index: 10; */
    left: 5px;
    width: 95%;
    height: 6%;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: #298678;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #298678;
    box-shadow: none;
}

#left-panel-scroll button {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    height: 10%;

    color: #298678;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #298678;
    box-shadow: none;
}

#left-panel-scroll button:active {
    color: #298678;
    font-size: 14px;
    background-color: rgb(221, 221, 221);
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #298678;
    box-shadow: none;
}

#outcome-scrn {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 5px solid #222; */
    top: calc(5px + 0.5%);
    left: calc(13px + 20%);
    padding-left: 2%;
    padding-right: 2%;
    width: 73%;
    height: 33%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#outcome {
    opacity: 0;
    color: #eee;
    font-size: 32px;
    /* margin-bottom: 5%; */
}

#outcome-sub {
    opacity: 0;
    color: #eee;
}

#q-panel {
    opacity: 0;
    position: fixed;
    /* border: 5px solid #222; */
    padding: 1%;
    top: calc(5px + 37.5%);
    left: calc(13px + 21%);
    width: 73%;
    height: 52%;
    color: #298678;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    overflow: hidden;
}

#q-panel-header {
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 2%;
}

/* #q-panel1 p {
    opacity: 0;
} */

#q-panel1 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-left: 2%;
    overflow: scroll;
    position: absolute;
    width: 96.5%;
    height: 84%;
}

/* #q-panel1-header{
} */

.qpanel1-qbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.qpanel-q {
    margin: 0px;
}

.checkbox{
    margin-right: 30px;
    transform: translateY(-1px);
}